@model IEnumerable<BOL.tbl_ChildInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>



@using (Html.BeginForm())
{


    <div class="row">
        @foreach (var item in Model)
        {



            <div class="col-sm-4 col-lg-4 col-md-4">


                <div class="thumbnail">
                    <a href="@Url.Action("Display", "BrowseMissingChild"  ,new {SortOrder =item.ChildId })" class="links">
                        <img alt="" src="~/images/@Html.DisplayFor(modelItem => item.imageUrl )" width="150" height="200" )">

                    </a>
                    <div class="pull-right">
                        <h4> Name: @item.ChildName</h4>
                        <h5>Age:  @item.Age</h5>
                        <h5>Father Name:  @item.Father_Name</h5>
                    </div>
                    <h6>Missing Date  @item.Child_Missing_Date_Time </h6>
                </div>
            </div>


        }
    </div>

}